html {
    font-family: v-sans, v-mono;
    --wails-draggable: drag;
    color: #f4f4f4;
    font-size: 14px;
    line-height: 16px;

    --n-border-radius: 8px
}

body {
    overflow: hidden;
    margin: 0;
}

.no-drag {
    --wails-draggable: no-drag;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: 12px;
}

.text-gray {
    color: #9ca3af;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

.full-width{
    width: 100%;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.mt-5 {
    margin-top: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pa-5 {
    padding: 5px;
}

.pa-10 {
    padding: 10px;
}

.pa-20 {
    padding: 20px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-10 {
    padding-top: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.px-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.pb-0{
    padding-bottom: 0px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line1 {
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.border-top {
    border-top: rgba(255, 255, 255, 0.12) 1px solid;
}

.border-right {
    border-right: rgba(255, 255, 255, 0.12) 1px solid;
}

.border-bottom {
    border-bottom: rgba(255, 255, 255, 0.12) 1px solid;
}

.border-left {
    border-left: rgba(255, 255, 255, 0.12) 1px solid;
}



.loading {
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(0, 0, 0, .1);
    width: calc(100vw - 181px);
    position: fixed;
    z-index: 999;
    height: 100%;
}

.xterm .xterm-viewport {
    background-color: transparent;
    overflow-y: scroll;
    cursor: default;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    scrollbar-color: var(--highlight) var(--dark);
    scrollbar-width: thin;
}

.xterm-viewport::-webkit-scrollbar {
    background-color: var(--dark);
    width: 5px;
}

.xterm-viewport::-webkit-scrollbar-thumb {
    background: var(--highlight);
}

.n-drawer-header {
    padding: 15px !important;
}