html {
    font-family: v-sans, v-mono;
    --wails-draggable: drag;
    color: #f4f4f4;
    font-size: 14px;
    line-height: 16px;
}

body {
    margin: 0;
}

.no-drag{
    --wails-draggable: no-drag;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-gray {
    color: #9ca3af;
}

.float-right {
    float: right;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.mt-5 {
    margin-top: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.pa-5 {
    padding: 5px;
}

.pa-10 {
    padding: 10px;
}

.pt-10 {
    padding-top: 10px;
}

.pl-10 {
    padding-left: 10px;
}

.px-10 {
    padding-right: 10px;
    padding-left: 10px;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line1 {
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
}

.border-top {
    border-top: rgba(255, 255, 255, 0.12) 1px solid;
}

.border-right {
    border-right: rgba(255, 255, 255, 0.12) 1px solid;
}

.border-bottom {
    border-bottom: rgba(255, 255, 255, 0.12) 1px solid;
}

.border-left {
    border-left: rgba(255, 255, 255, 0.12) 1px solid;
}